<div class="container">
    <form [formGroup]="shippingForm" class="m-3" (ngSubmit)="checkout(shippingForm)">
        <label class="m-2">Details:</label>
        <input type="text"class="form-control m-2" formControlName="details">
        <label class="m-2">Address:</label>
        <input type="text"class="form-control m-2" formControlName="address">
        <label class="m-2">City:</label>
        <input type="text"class="form-control m-2" formControlName="city">

        <button class=" btn bg-main text-white m-2">Submit</button>

    </form>
</div>
