

<body *ngIf="brands.length>0 else :loading">
  <h1 class="mt-5 text-center" >All Brands</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 mt-4 mb-5" *ngFor="let brand of brands">
            <div class="card">
                <img class="card-img-top" [src]="brand.image" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">{{brand.name}}</p>
                </div>
              </div>    
        </div>
    </div>


</div>
</body>
<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center vh-100  position-relative top-0 start-0 fixed-top loading">
      <div class="sk-chase  ">
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
        </div>
  </div>
  
</ng-template>